@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container mt-4 w-50">
    <div class="card border-warning site-shadow">
        <div class="card-header bg-warning">
            <h5>Giriş </h5>
        </div>
        <div class="card-body">
            <form id="account" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-info w-25 mb-3">Giriş</button>
                </div>
               
                <div class="form-group text-center">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Şifremi unuttum</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Kayıt ol</a>
                    </p>

                </div>
            </form>
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
